rag-workflow.json
{
  "name": "rag",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1w5cnPwYzXj2JX-eKO0JthaJD-uM7xiXf",
          "mode": "list",
          "cachedResultName": "FAQ_N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1w5cnPwYzXj2JX-eKO0JthaJD-uM7xiXf"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3476a946-e577-4bb5-9372-14751056267e",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Aw5gCihoWjnP3MFr",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "ee65f14a-1093-4fad-96eb-57ccee306a60",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9mOPdsmFQVL3UQrx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo-n8n",
          "mode": "list",
          "cachedResultName": "demo-n8n"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        448,
        0
      ],
      "id": "11a3b8b9-b9b4-4417-9e36-7a56b6c0566f",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "rBnhjlQhMbjIMiCD",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        512,
        192
      ],
      "id": "cd6b21ea-22f7-4171-8961-a345e22839e3",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        624,
        432
      ],
      "id": "97555e99-f194-4af7-825f-62e69a42b4d8",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        400,
        288
      ],
      "id": "84b6323c-a530-4bbe-917e-a40ff23dc24e",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "HaZ6nDioMH2kXDFR",
          "name": "Hugging Face account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {
          "maxTokensToSample": 500,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        944,
        192
      ],
      "id": "c8e7886b-528c-4007-b27e-f209d9476a84",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "dpsJWnWTUV9lIXhc",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call This tool to know about radioml dataset and model",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo-n8n",
          "mode": "list",
          "cachedResultName": "demo-n8n"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1376,
        160
      ],
      "id": "f53aa355-3e02-4d34-956b-fe98f3a79c98",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "rBnhjlQhMbjIMiCD",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        1360,
        368
      ],
      "id": "adb792a7-7b78-45ec-b438-2999837038c0",
      "name": "Embeddings HuggingFace Inference1",
      "credentials": {
        "huggingFaceApi": {
          "id": "ByAFftJ73LXasbYD",
          "name": "Hugging Face account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        800,
        -176
      ],
      "id": "2a01f563-b13f-4ce1-b9f0-609a38a09ab6",
      "name": "Telegram Trigger",
      "webhookId": "a846b9e5-ef42-4444-aa3a-d6cf461ebcce",
      "credentials": {
        "telegramApi": {
          "id": "Krqoe9Dt2iXpFY4G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a Telegram AI assistant.\n\nRules:\n\n* Respond in plain text only.\n* Do not use Markdown.\n* Do not use HTML.\n* Do not use tables.\n* Do not use special formatting symbols like *, #, _, |, [], (), or backticks.\n* Keep responses concise under 300 words.\n* Use simple paragraphs and bullet points only with hyphens (-).\n* Never generate code blocks unless explicitly asked.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1040,
        -112
      ],
      "id": "601c9c60-7f42-4c90-902f-6462b03099fa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}\n",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1504,
        -112
      ],
      "id": "b4bf2e2d-fdea-4608-a3f7-0ba11db1a47d",
      "name": "Send a text message",
      "webhookId": "12fca5b1-b78a-4e4e-a61b-fa78fbf3156b",
      "credentials": {
        "telegramApi": {
          "id": "Krqoe9Dt2iXpFY4G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $json.message.chat.id }}",
        "collectionName": "chat_history",
        "databaseName": "n8n_memory",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        1136,
        144
      ],
      "id": "e1eb5bba-99dc-458b-b951-4dbfb1a6568e",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "bE8WsrR3Cq1QjTOU",
          "name": "MongoDB account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "418da5e2-c02d-4e9c-bfc4-940ecd3cdbef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9951c054949e584782aa4c6fb662153811b43410c3acd3480120a5458460c5ad"
  },
  "id": "LP6DPfl0n7gOOCRL",
  "tags": []
}